* {
font-family: 'Handlee', cursive bold;
box-sizing: border-box;
}
section {
	height: 1000px;
	margin: 5px 5px;
	overflow: hidden;	
}
#main-content{
	background-color: #798393;

}
p {
	position: relative;
	right: 10px;
}
#header-nav {
background-color: #798393;
border-radius: 0;
border: 2px solid black;
border-right: 0;
border-left: 0;
}
.navbar-header {
	font-size: 24px;
	float: left;
	
}	
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}
